:host {
    display: grid;
    height: 100vh;
    place-items: center;
    grid-template-rows: 1fr 1fr;
    background-image: url("../../assets/bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    overflow: hidden;
}

.container {
    grid-row: 1/2;
    text-align: center;
}

.container h1 {
    font-size: 5rem;
    font-weight: 200;
    letter-spacing: 0.1rem;
}

.container h2 {
    font-size: 1.5rem;
    font-weight: 300;
    letter-spacing: 0.2rem;
}

.icons {
    align-self: end;
    grid-row: 2/3;
    width: 100%;
    display: flex;
    justify-content: center;
}

.icons a {
    margin: 1rem 0;
}

fa-icon {
    padding: 0.5rem;
    font-size: 3.5rem;
    text-align: center;
    color: #000;
}

fa-icon:hover {
    opacity: 0.7;
}


@media screen and (max-width: 950px) {
    :host {
        background-image: url("../../assets/bg-tablet.jpg");
        background-position: center;
    }

    fa-icon {
        padding: 0 1rem;
        font-size: 4.5rem;
    }

    .icons {
        background-color: #2c2c2cd0;
    }
}

@media screen and (max-width: 675px) {
    :host {
        grid-template-rows: repeat(3, 1fr);
        background-image: url("../../assets/bg-mobile.jpg");
        background-position: center;
    }

    .container {
        align-self: center;
        grid-row: 1/3;
    }

    .container h2 {
        padding: 0 5rem;
    }

    .icons {
        grid-row: 3/4;
    }
}