<mat-card class="contact-card">
    <div class="header">
        <div class="header-main">
            <span>#</span>
            <h2>Contact</h2>
        </div>
    </div>
    <div class="about">
        <p> Pursuing a goal to master web development field, I'm keeping myself busy by working on projects as well 
            as expanding my knowledge of relevant technologies.
            <br>
            <br>
            As part of that pursuit, I'm always interested in a new challenge, so feel free to reach out to me here:
        </p>
    </div>
    <mat-card class="links">
        <span>Email:</span>
        <a mat-button href="mailto: tom.klucar@gmail.com">tom.klucar@gmail.com</a>
        <button mat-stroked-button (click)="copyMessage('tom.klucar@gmail.com')">Copy</button>
        <mat-divider inset=“true”></mat-divider>
        <span>GitHub:</span>
        <a mat-button href="https://www.github.com/hawke922" target="_blank">github.com/Hawke922</a>
        <mat-divider inset=“true”></mat-divider>
        <span>Facebook:</span>
        <a mat-button href="https://www.facebook.com/hawke922" target="_blank">facebook.com/Hawke922</a>
        <mat-divider inset=“true”></mat-divider>
        <span>Resume:</span>
        <a mat-button href="https://firebasestorage.googleapis.com/v0/b/fir-course-cbe23.appspot.com/o/cv-tomas-klucar-en.pdf?alt=media&token=7393120a-8af5-48f0-8ad9-a112e17730ee" target="_blank">Download CV</a>
    </mat-card>
</mat-card>