$skill: var(--skill-color);

:host {
    display: grid;
    grid-template-columns: 1fr 48rem 65rem 1fr;
    padding-top: 7rem;
    position: relative;
    z-index: 1;
}

.header {
    grid-column: 2/3;
}

.header-main {
    display: flex;
    align-items: center;
}

.header-main span, .header-main h2 {
    font-size: 2.7rem;
    font-weight: 500;
    letter-spacing: 0.7rem;
    margin: 0;
}

.header-main span {
    color: #BC0606;
    margin-right: 0.5rem;
}

.tabs {
    grid-column: 2/3;
    width: 48rem;
}

.header h3{
    font-size: 3.7rem;
    font-weight: 200;
    margin: 3rem 0;
}

.tab {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 0.3rem;
}
/*white-space: normal added to make sure that ngfor break lines properly*/
/*white-space: pre-line will break lines only where I do /n within the value itself*/
.box {
    margin: 0.3rem;
    width: 15.3rem;
    height: 15.3rem;
    background-color: #161616;
    display: grid;
    place-items: center;
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    white-space: normal;
}

.logo-box {
    grid-column: 3/4;
    grid-row: 1/4;
    margin-top: 15rem;
    justify-self: end;
    position: relative;
    width: 40rem;
    height: 40rem;
    background-color: #000;
}

.logo-box::before, .logo-box::after  {
    content: '';
    position: absolute;
    top: -3px;
    left: -3px;
    right: -3px;
    bottom: -3px;
    background: #fff;
    background: $skill;
    z-index: -1;
}

.logo-box::after {
    filter: blur(60px);
}

.logo-box img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    height: 90%;
    width: 90%;
}

@media screen and (max-width: 1200px) {
    :host {
        grid-template-columns: 65rem;
        padding-bottom: 7rem;
        justify-items: center;
        justify-content: center;
    }
    
    .header {
        grid-column: 1/2;
    }

    .tabs {
        grid-column: 1/2;
    }

    .logo-box {
        grid-column: 1/2;
        grid-row: 3/4;
        margin-top: 15rem;
        justify-self: center;
    }
    
}