<div class="header">
    <div class="header-main">
        <span>#</span>
        <h2>Skills</h2>
    </div>
    <h3>Technologies I work with</h3>
</div>
<mat-tab-group mat-tabs [dynamicHeight]='true' class="tabs mat-elevation-z4">
    <mat-tab label="Front-End">
        <div class="tab">
            <a mat-button class="box">Angular</a>
            <a mat-button class="box">Bootstrap</a>
            <a mat-button class="box">Material<br>Design</a>
            <a mat-button class="box">JavaScript</a>
            <a mat-button class="box">TypeScript</a>
            <a mat-button class="box">CSS3</a>
            <a mat-button class="box">HTML5</a>
        </div>
    </mat-tab>
    <mat-tab label="Back-End" class="tab">
        <div class="tab">
            <a mat-button class="box">C#</a>
            <a mat-button class="box">.Net Core</a>
            <a mat-button class="box">Entity<br>Framework<br>Core</a>
            <a mat-button class="box">Google<br>Firebase</a>
            <a mat-button class="box">SQL<br>(MySQL)</a>
            <a mat-button class="box">NoSQL<br>(Firebase)</a>
        </div>
    </mat-tab>
    <mat-tab label="Other" class="tab">
        <div class="tab">
            <a mat-button class="box">Git</a>
            <a mat-button class="box">Postman</a>
            <a mat-button class="box">Adobe XD</a>
            <a mat-button class="box">VS Code</a>
        </div>
    </mat-tab>
</mat-tab-group>
<div class="logo-box">
    <img src="../../assets/logos/angular.svg" class="javascript">
</div>