<mat-card class="project-detail">
    <div class="header">
        <div class="header-main">
            <span>#</span>
            <h2>Portfolio</h2>
        </div>
        <h3>{{ selectedProject.nameLong }}</h3>
    </div>
    <div class="description">
        <p [ngStyle]="{'text-align': 'left'}">
          {{ selectedProject.description }}
        </p>
    </div>
    <div class="buttons">
      <button mat-button *ngIf="selectedProject.github">GitHub Code</button>
      <button mat-button *ngIf="selectedProject.live">Live Version</button>
    </div>
</mat-card>

<ngb-carousel class="carousel">
    <ng-template ngbSlide *ngFor="let picture of pictures; let i = index">
      <div class="picsum-img-wrapper">
        <img [src]="pictures[i]">
      </div>
    </ng-template>
</ngb-carousel>

<div class="projects-wrapper">
    <div class="project-card" *ngFor="let project of projectsArray" (click)="activateProject(project)">
      <img [src]="project.thumbnailUrl">
      <a mat-button class="button">{{ project.nameShort }}</a>
    </div>
</div>