<div class="header-main">
  <h2><span>#</span>Portfolio</h2>
</div>

<div class="projects-wrapper">
  <div class="project-card" *ngFor="let project of projectsArray" (click)="activateProject(project)">
    <img [src]="project.thumbnailUrl">
    <a mat-button class="button">{{ project.nameShort }}</a>
  </div>
</div>

<mat-card class="project-detail">
    <div class="header">
      <h3>{{ selectedProject.nameLong }}</h3>
      <h4 *ngIf="selectedProject.wip">(work in progress)</h4>
    </div>
    <div class="description">
      <h4>Front-End: </h4><p>{{ selectedProject.frontEnd }}</p>
      <mat-divider inset=“true”></mat-divider>
      <h4 *ngIf="selectedProject.backEnd">Back-End: </h4><p>{{ selectedProject.backEnd }}</p>
      <mat-divider inset=“true” *ngIf="selectedProject.backEnd"></mat-divider>
      <h4>Description: </h4><p [ngStyle]="{'text-align': 'left'}">{{ selectedProject.description }}</p>
    </div>
    <div class="buttons">
      <a *ngIf="selectedProject.github" mat-button href="{{ selectedProject.githubUrl }}" target="_blank" class="link">Github Code</a>
      <a *ngIf="selectedProject.live" mat-button href="{{ selectedProject.liveUrl }}" target="_blank" class="link">Live Version</a>
    </div>
</mat-card>

<ngb-carousel class="carousel">
    <ng-template ngbSlide *ngFor="let picture of pictures; let i = index">
      <div class="picsum-img-wrapper">
        <img [src]="pictures[i]">
      </div>
    </ng-template>
</ngb-carousel>