:host {
    display: grid;
    grid-template-columns: 48rem 96rem;
    justify-content: center;
    justify-items: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

.project-detail {
    grid-column: 1/2;
    background: #000;
    margin-right: 1rem;
    white-space: pre-line;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
}

.carousel {
    grid-column: 2/3;
    width: 96rem;
    height: 54rem;
}

.carousel img {
    display: block;
    margin: 5rem auto;
    width: 80%;
}

.projects-wrapper {
    grid-column: 1/3;
    display: flex;
    margin: 5rem 0;
}

.header {
    margin-bottom: 3rem;
}

.header-main {
    display: flex;
    justify-self: start;
    align-items: center;
    padding-left: 1.6rem;
}

.header-main span, .header-main h2 {
    font-size: 2.7rem;
    font-weight: 500;
    letter-spacing: 0.7rem;
    margin: 0;
}

.header-main span {
    color: #BC0606;
    margin-right: 0.5rem;
}

.header h3{
    font-size: 3.7rem;
    line-height: 4.2rem;
    font-weight: 200;
    margin: 3rem 0 0 0;
}

.header h4{
    font-size: 2.5rem;
    line-height: 4.2rem;
    font-weight: 200;
    margin: 0;
}

.description h4 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 400;
}

.description p {
    font-size: 1.8rem;
    font-weight: 300;
}

.link {
    padding: 1rem;
    margin: 2rem 0;
    font-weight: 400;
}

.link:hover {
    color: #BC0606;
}

.project-card, .project-card img {
    width: 24rem;
    height: 13.5rem;
    border-radius: 0.5rem;
}

.project-card {
    position: relative;
    margin: 0 0.2rem;
    transition: 0.3s;
    background-color: #161616;
}

.project-card:hover {
    transform: scale(1.3);
    margin: 0 4rem;
}

.button {
    position: absolute;    
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    place-content: center;
    width: 100%;
    height: 101%;
    opacity: 0;
    transition: 0.3s;
    font-size: 3rem;
    font-weight: 200;
    background-color: #161616c5;
}

.button:hover {
    opacity: 1;
}

@media screen and (max-width: 1500px) {
    :host {
        grid-template-columns: 1fr;
    }

    .carousel, .projects-wrapper {
        grid-column: 1/2;
        
    }
    
    .project-detail {
        margin-right: 0;
        max-width: 96rem;
    }

    .projects-wrapper {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
    }

    .project-card {
        margin: 0.2rem;
    }

    .project-card:hover {
        transform: none;
        margin: 0.2rem;
    }
}

@media screen and (max-width: 950px) {
    :host {
        grid-template-columns: 1fr;
        padding: 7rem 2rem;
    }
    
    .project-detail, .carousel, .projects-wrapper {
        width: 64rem;
    }

    .carousel img {
        height: 36rem;
    }

    .projects-wrapper {
        grid-template-columns: repeat(2, 1fr);
    }

    .project-card, .project-card img {
        width: 31.8rem;
        height: 17rem;
    }
}


@media screen and (max-width: 675px) {
    .projects-wrapper {
        grid-template-columns: 1fr;
        justify-items: center;
    }
}
