:host {
    display: grid;
    grid-template-columns: 48rem 96rem;
    justify-content: center;
    justify-items: center;
    padding-top: 7rem;
    padding-bottom: 5rem;
}

/* #Portfolio Header */

.header-main {
    grid-column: 1/3;
    grid-row: 1/2;
    justify-self: start;
}

.header-main h2 {
    font-size: 3rem;
    font-weight: 500;
    letter-spacing: 0.7rem;
    margin: 0;
}

.header-main span {
    color: #BC0606;
}

/* Projects Row */

.projects-wrapper {
    grid-column: 1/3;
    grid-row: 2/3;
    display: flex;
    margin: 5rem 0;
}

.project-card, .project-card img {
    max-width: 24rem;
    max-height: 13.5rem;
    border-radius: 0.5rem;
}

.project-card {
    position: relative;
    margin: 0 0.2rem;
    transition: 0.3s;
    background-color: #161616;
}

.project-card:hover {
    transform: scale(1.3);
    margin: 0 4rem;
}

.button {
    position: absolute;    
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    display: grid;
    align-content: center;
    width: 101%;
    height: 101%;
    opacity: 0;
    transition: 0.3s;
    font-size: 3rem;
    font-weight: 200;
    background-color: #161616c5;
}

.button:hover {
    opacity: 1;
}

/* Selected Project Description */

.project-detail {
    grid-column: 1/2;
    background: #000;
    margin-right: 1rem;
    white-space: pre-line;
}

.header {
    margin-bottom: 3rem;
}

.header h3{
    font-size: 3.7rem;
    line-height: 4.2rem;
    font-weight: 200;
    margin: 0;
}

.header h4{
    font-size: 2.5rem;
    line-height: 4.2rem;
    font-weight: 200;
    margin: 0;
}

.description h4 {
    margin: 1rem 0;
    font-size: 2rem;
    font-weight: 400;
}

.description p {
    font-size: 1.8rem;
    font-weight: 300;
}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    margin: 2rem 0;
}

.link {
    padding: 1rem;
    font-weight: 400;
}

.link:hover {
    color: #BC0606;
}

/* Carousel */

.carousel {
    grid-column: 2/3;
    width: 100rem;
    height: 50rem;
}

.carousel:focus {
    outline: 0;
}

.carousel img {
    display: block;
    margin: 1rem auto;
    width: 80%;
}

@media screen and (max-width: 1500px) {
    :host {
        grid-template-columns: 1fr 1fr;
    }

    .header-main {
        margin-bottom: 5rem;
        margin-left: 5rem;
    }

    .projects-wrapper {
        grid-column: 2/3;
        grid-row: 2/3;
        height: 50rem;
        display: grid;
        margin: 0;
        grid-template-columns: repeat(2, 1fr);
    }

    .project-card {
        margin: 0 2rem;
    }

    .project-card:hover {
        transform: none;
        margin: 0;
    }

    .project-detail {
        margin-right: 1rem;
        margin-left: 5rem;
        padding-top: 0;
    }

    .carousel {
        grid-column: 1/3;
        grid-row: 3/4;
    }
}

@media screen and (max-width: 1125px) {
    .header-main {
        margin-bottom: 2rem;
    }

    .projects-wrapper {
        grid-column: 1/3;
        width: 80%;
        height: auto;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .project-card {
        margin: 1rem;
    }

    .project-card:hover {
        margin: 1rem;
    }

    .project-detail {
        grid-column: 1/3;
        width: 80%;
        margin: 2rem 0;
    }

    .link {
        text-decoration: underline;
    }

    .carousel {
        grid-column: 1/3;
        grid-row: 4/5;
        width: 80%;
        height: 0;
        padding-bottom: 50%;
    }
    
    .carousel img {
        margin: 0;
        width: 100%;
    }
}

@media screen and (max-width: 665px) {
    .header-main {
        margin-left: 2rem;
    }

    .projects-wrapper {
        width: 97%;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }    
    
    .project-card {
        background-color: #ffffff00;
        margin: 0.3rem;
        height: 8.7rem;
        width: 8.7rem;
        overflow: hidden;
    }

    .project-card:hover {
        margin: 0.3rem;
    }

    .project-card img {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
    }
    
    .button {
        position: relative;
        opacity: 1;
        white-space: normal;
        display: grid;
        place-content: center;
        font-size: 2rem;
        line-height: 2.3rem;
    }

    .button span {
        width: 10rem;
    }

    .project-detail {
        grid-column: 1/3;
        width: 97%;
        margin: 2rem 0;
    }

    .carousel {
        grid-column: 1/3;
        grid-row: 4/5;
        width: 97%;
    }
    
    .carousel img {
        margin: 0;
        width: 100%;
    }
}
